body {
margin:0;
padding:0;
font-family: 'Open Sans',sans-serif;
color: #666;
font-size:13px;
line-height:1.5em;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', sans-serif;
	font-weight: normal !important;
	margin: 2px 0px 5px 0px;
	padding: 2px 0px;
	color: #666;
}

h1, h2 {
    font-weight: 300 !important;
}

h1 {
font-size:30px;
line-height:1.2em;
}


.calendar-container {

	border:1px solid #ddd;
	overflow:scroll;
}

/* calendar */
table.calendar		{ }
tr.calendar-row	{  }
td.calendar-day	{ min-height:120px; font-size:11px; position:relative; } 
/* * html div.calendar-day { height:80px; } */
td.calendar-day:hover	{ background:#eceff5; }
td.calendar-day-np	{ background:#fefefe; min-height:120px;  } 
/* * html div.calendar-day-np { height:80px; } */
td.calendar-day-head { background:#fff; text-align:center; width:120px; padding:5px; border-bottom:1px solid #ddd;  }
div.day-number		{ background:#eee; padding:2px; color:#666; float:right; margin:-5px -5px 0 0; width:15px; text-align:center; }
/* shared */
td.calendar-day, td.calendar-day-np { width:120px; padding:5px; border-bottom:1px solid #ddd; border-right:1px solid #ddd; }


.projectNav, .projectNav li {
margin:0;
padding:0;
list-style-type:none;
}

.projectNav {

}

.projectNav li {
border-top:1px solid #ddd;
padding:5px 10px;
}

.projectNav .date {
font-size:11px;
}

.projectHead {
margin:60px 0 10px 10px;
}

.pending {
opacity:.4
}

.priority {
	border-left:4px solid #fff;
}

.calDay{
position: relative;
display:inline-block;
width:100px;
height:700px; /* should be set dynamically x number of tasks */
border-left:1px solid #eee;
padding:10px 0px;
}

.dayhead {
	display:block;margin-left:10px;
}

/*
.calDay:nth-of-type(1) {
	border:none;
} */

.weekend {
	opacity: .3
}

.month {
float:left;
	border-bottom:2px solid #666;
	position:relative;
	width:4000px;
	height:800px;
padding-left:50px;
}

.today {
	background-color: rgb(217, 237, 247);
border-color: rgb(188, 232, 241);
width:200px;
}

.projectCalDisplay {
	position:absolute;
	top:0;
	height:100%;
	width: 100%;
	word-wrap:break-word;
}

.taskTitle {
    position: relative;
color:#fff;
    left: 8px;
    top: 0px;

    line-height: 1.2em;
    padding:2px;
}

.projectCalLine {
		margin-top:20px;
		border-top:10px solid #fff;
}


.popover {
	max-width:800px;
	width:500px;
}

.moreInfo {
	position:absolute;
	top:-10px;
	left:0;
	padding:5px;
	cursor:pointer;
}

h2.calMonth {
text-align:left;

left:0px;
top:0px;

}

#todayBG {
color:#fff;
font-size:14px;
font-weight:bold;

}

#savedAlert {
	display:none;
	text-align: center;
}





 div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }


